

A {text-decoration: none; color: #000000;}

body
	{padding: 0px;   margin: 0;  color: #000000;
	background-color: rgb(204,204,153)
	}
.ill
{
overflow:no;
}

  	

.tekst
{
  	position:absolute;
 margin: 5;
  	width:350px;
  	overflow:no;
        font-size: 10pt;
        font-weight: plain;
        text-align: left;
        line-height: 16pt;
}

.tekst2
{
 margin: 10;
        font-size: 11pt;
        font-weight: plain;
        text-align: left;
        line-height: 15pt;  color: #000000;   	width:370px;
}
.tittel
{ margin: 0;
        font-size: 9pt;
        font-weight: plain;
        text-align: right;
        line-height: 12pt;
}

h1
{ 	font-family: Arial, Helvetica, sans-serif;
        font-size: 10pt;
        font-weight: plain;
color: #000000;
}


.a
{
  	top:30px;
  	left: 50px;
  	width:380px;
  	overflow:no;
        font-size: 8pt;
        font-weight: plain;
        text-align: justify;
        line-height: 16pt;
}

.r
{

  	overflow:no;
        font-size: 8pt;
        font-weight: plain;
        text-align: right;

}


