

A {text-decoration: none; color: #000000;}

body
	{padding: 0px;         font-size: 10pt;  margin: 0;  color: #000000;
	background-color: rgb(204,204,153)
	}


h1
{ 
        font-size: 10pt;
        font-weight: plain;
color: #000000;       
}


.a
{	font-family: Arial, Helvetica, sans-serif;
 margin: 10;

        font-size: 8pt;
        font-weight: plain;
        text-align: justify;
        line-height: 16pt;
}

.r
{
        font-size: 8pt;
        font-weight: plain;
        text-align: right;

}


.tekst2
{
 margin: 10;
        font-size: 11pt;
        font-weight: plain;
        text-align: justify;
        line-height: 15pt;  color: #000000;   	width:380px;
}
.tittel
{
        font-size: 9pt;
        font-weight: plain;
        text-align: right;
        line-height: 12pt;
}
