A {text-decoration: none}

BODY {padding: 0px; background-color: rgb(128,128,128); COLOR: white; FONT-FAMILY: verdana,arial,helv,helvetica; FONT-SIZE: 10px; text-align: justify}

DIV {COLOR: white; FONT-FAMILY: verdana,arial,helv,helvetica; FONT-SIZE: 10px; text-align: justify}

P {COLOR: white; FONT-FAMILY: verdana,arial,helv,helvetica; FONT-SIZE: 10px; text-align: justify}

.tekst
{
        font-family: verdana,arial,helv,helvetica;
        font-size: 10px;
        text-align: justify;
}

.tittel
{

        font-size: 10px;
        text-align: right;
        text-align: justify;
}

h1
{
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: bold;
}

.meny1
{

        font-size: 10px;
        font-weight: plain;
        text-align: left;
}

.meny2
{

        font-size: 10px;
        font-weight: plain;
        text-align: right;
}

.mailtekst
{
  	position:absolute;
  	top:30px;
  	left: 50px;
  	width:395px;
  	overflow:auto;
        font-family: Verdana, times, garamond, serif;
        font-size: 10pt;
        font-weight: plain;
        text-align: justify;

}

#aaa {
  position:absolute;
  z-index:1;
  visibility:show;
  visibility:visible;
}
#bbb {
  position:absolute;
  z-index:2;
  visibility:hide;
  visibility:hidden;
}
#ccc {
  position:absolute;
  z-index:3;
  visibility:hide;
  visibility:hidden;
}
#ddd {
  position:absolute;
  z-index:4;
  visibility:hide;
  visibility:hidden;
}
#eee {
  position:absolute;
  z-index:5;
  visibility:hide;
  visibility:hidden;
}
#fff {
  position:absolute;
  z-index:6;
  visibility:hide;
  visibility:hidden;
}
#ggg {
  position:absolute;
  z-index:7;
  visibility:hide;
  visibility:hidden;
}
#hhh {
  position:absolute;
  z-index:8;
  visibility:hide;
  visibility:hidden;
}
#iii {
  position:absolute;
  z-index:9;
  visibility:hide;
  visibility:hidden;
}
#jjj {
  position:absolute;
  z-index:10;
  visibility:hide;
  visibility:hidden;
}
