A {text-decoration: none}

.tekst
{

        font-family: arial, verdana, times, garamond, serif;
        font-size: 11pt;
        font-weight: plain;
        text-align: justify;
        line-height: 20pt;

}


