// A {font: 8pt Arial; color: #FFFFFF; text-decoration: none}

A:link {font: 8pt Arial; color: #000000; text-decoration: none}
A:active {font: 8pt Arial;  color: #000000; text-decoration: none}
A:visited {font: 8pt Arial;  color: #000000; text-decoration: none}


BODY  {background-color: #91a1af; margin: 0;  color:#FFFFFF}


.tekst
{
	z-index:1;
  	position:absolute;
  	top:30px;
  	left: 50px;
  	width:350px;
  	overflow:no;
        font-family: Courier,Verdana,Arial;
        font-size: 12pt;
        font-weight: plain;
        text-align: left;
        line-height: 16pt;
}


.meny
{
  	position:absolute;
  	top:10px;
  	left: 20px;
  	width:180px;
  	overflow:auto;
        font-family: Courier,Verdana,Arial;
        font-size: 12pt;
        line-height: 12pt;
}

.menybk
{
  	position:absolute;
  	top:70px;
  	left: 50px;
  	width:200px;
  	overflow:auto;
        font-family: Courier,Verdana,Arial;
        font-size: 12pt;
        line-height: 14pt;
}

.illustrasjon
{

  	position:absolute;
  	top:60px;
  	left: 450px;
  	width:200px;
  	overflow:no;
}


.heading
{
        font-family: Courier,Verdana,Arial;
        font-size: 14pt;
        font-weight: plain;
        text-align: right;
        line-height: 14pt;
}


