A {text-decoration: none}

.n
{

        font-family: arial, times, serif;
        font-size: 8pt;
        font-weight: plain;
        text-align: right;


}

h1
{
        font-size: 8pt;
        font-family: courier;
        font-weight: plain;
        text-align: justify;
        line-height: 10pt;

}

.tekst
{
        font-size: 8pt;
        font-family: courier;
        font-weight: plain;
        text-align: justify;
        line-height: 10pt;

}
