A:link { font: 10px Verdana; color: #FFFFFF; text-decoration: none}
A:active { font: 10px Verdana;  color: #000000; text-decoration: none}
A:visited { font: 10px Verdana;  color: #D1D1D1; text-decoration: none}



body { background-color: rgb(0,0,0); background-attachment: fixed; background-image: url(../poet/img/tree_004.jpg); COLOR: #CCCCCC; FONT-FAMILY: verdana,arial,helv,helvetica; FONT-SIZE: 10px; margin: 0px;}

PRE
{
FONT-FAMILY: verdana,arial,helv,helvetica; FONT-SIZE: 10px; text-align: justify
}

.tekst
{
  	position:absolute;
  	top:30px;
  	left: 50px;
  	width:350px;
  	overflow:no;
        font-family: Verdana, Arial, Helvetica;
        font-size: 10px;
        font-weight: plain;
        text-align: left;
        line-height: 16pt;
}

.meny
{
  	position:absolute;
  	top:70px;
  	left: 50px;
  	width:200px;
  	overflow:auto;
        line-height: 14pt;
        font: 1px Verdana;
}

